/EG1Constants.java
/ParseException.java
/SimpleCharStream.java
/Token.java
/TokenMgrError.java
/AnnotationGrammar.jj
/EG2Constants.java
/EG2TreeConstants.java
/JJTEG2State.java
/Node.java
/SimpleNode.java
/AnnotationParserConstants.java
/AnnotationParserTreeConstants.java
/JJTAnnotationParserState.java
/ASTAnnotation.java
/ASTCflow.java
/ASTFirstChunk.java
/ASTGarbage.java
/ASTRemainingChunks.java
/ASTRegex.java
/ASTAnnotations.java
/ASTAnnot.java
/AST_Annot.java
